.group-tag {
	font-size: 11px;
	border-radius: 7px;
	width: auto;
}

.staffcom {
	color: DarkCyan;
	border: 1px solid #00FF66;
	background: #00FF66;
}

.helpercom {
	color: white;
	border: 1px solid #6666CC;
	background: #6666CC;
}

.vstfcom {
	color: white;
	border: 1px solid #6699FF;
	background: #6699FF;
}

.councilcom {
	color: white;
	border: 1px solid purple;
	background: purple;
}

.vanguardcom {
	color: white;
	border: 1px solid DarkCyan;
	background: DarkCyan;
}
.burocom {
	color: white;
	border: 1px solid #0E59AA;
	background: #0E59AA;
}

.sysopcom {
	color: white;
	border: 1px solid #e36600;
	background: #e36600;
	width: 120%;
}

.dmcom {
	color: white;
	border-radius: 13px;
	border: 1px solid green;
	background: green;
	}
