.SpeechBubble .speech-bubble-avatar {
	width: 55px;
}
.vstfcom {
	color: white;
	border-radius: 7px;
	border: 1px solid #6699FF;
	background: #6699FF;
	text-align: center;
	padding: 0 5px;
	padding-bottom: 1px;
	font-size: 11px;
	width: 35px;
	margin-left: -2px;
}

.councilcom {
	color: white;
	border-radius: 7px;
	border: 1px solid purple;
	background: purple;
	padding: 0 5px;
	word-break: break-word;
	font-size: 11px;
	width: 46px;
	margin-left: -3px;
}

.vanguardcom {
	color: white;
	border-radius: 7px;
	border: 1px solid DarkCyan;
	background: DarkCyan;
	padding: 0 5px;
	padding-bottom: 1px;
	font-size: 11px;
	width: 46px;
	margin-left: -4px;
}
.burocom {
	color: white;
	border-radius: 7px;
	border: 1px solid #FFF;
	background-image: linear-gradient(to bottom, #136CBA 0%, #0E59AA 100%) !important;
	font-size: 11px;
	width: 58px;
	text-align: left;
	margin-left: -5px;
	margin-top: -1px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
}
.sysopcom {
	color: white;
	border-radius: 7px;
	border: 1px solid #e36600;
	background: #e36600;
	font-size: 11px;
	width: 65px;
	text-align: left;
	margin-left: -10px;
	margin-top: -1px;
	padding-right: 1px;
	padding-left: 3px;
	padding-bottom: 1px;
}

.dmcom {
	color: white;
	border-radius: 13px;
	border: 1px solid green;
	background: green;
	padding: 0 5px;
	font-size: 11px;
	text-align: center;
	margin-left: -8px;
	margin-right: -8px;
}
