.group-tag {
	color: white;
	font-size: 11px;
	border-radius: 7px;
	width: auto;
	border-width: 1px;
	border-style: solid;
}

.staffcom {
	color: DarkCyan;
	border-color: #0F6;
	background: #00FF66;
}

.helpercom {
	border-color: #66C;
	background: #66C;
}

.vstfcom {
	border-color: #69F;
	background: #69F;
}

.councilcom {
	border-color: purple;
	background: purple;
}

.vanguardcom {
	border-color: DarkCyan;
	background: DarkCyan;
}
.burocom {
	border-color: #0E59AA;
	background: #0E59AA;
}

.sysopcom {
	border-color: #e36600;
	background: #e36600;
	width: 120%;
}

.dmcom {
	border-radius: 13px;
	border-color: green;
	background: green;
	}
